---
import {data,datatext,datacover } from '../../../data/icon';
---
<div class="col-md-4 p-3 p-md-5">
<img class="img-fluid" loading="lazy" alt={data} width="100%" height="100%" src={datacover}/>
<h3><strong><a href="/" title={data}>{data}</a></strong></h3>
<p>{datatext}</p>
</div>