---
import {transaksi,transaksitext,transaksicover } from '../../../data/icon';
---
<div class="col-md-4 p-3 p-md-5">
<img class="img-fluid" loading="lazy" alt={transaksi} width="100%" height="100%" src={transaksicover}/>
<h3><strong><a href="/" title={transaksi}>{transaksi}</a></strong></h3>
<p>{transaksitext}</p>
</div>