---
import {android,androidcover,androidtxt, androidtxt1, androidtxt2 } from '../../data/home';
---
<div class="col-md-4 p-3 p-md-5">
<img class="img-fluid" alt={android} width="100%" height="100%" src={androidcover}/>
</div>
<div class="col-md-8 p-3 p-md-5">
<div class="p-3 p-md-5">
<h3><strong><a href="/" title={android}>{android}</a></strong></h3>
<p>{androidtxt}</p>
<p>{androidtxt1}</p>
<p>{androidtxt2}</p>
</div>
</div>