---
import {resto,restocover,restotxt,restocontent,konsep } from '../../data/home';
---
<div class="col-md-4 p-3 p-md-5">
<img class="img-fluid" alt={resto} loading="lazy" width="100%" height="100%" src={restocover}/>
</div>
<div class="col-md-8 p-3 p-md-5">
<h3><strong><a href="/" title={resto}>{resto}</a></strong></h3>
<p>{restotxt}</p>
<p>{restocontent}</p>
</div>
<div class="col-md-12 p-3 p-md-5 text-center">
<h3><strong><a href="/" title={resto}>{konsep}</a></strong></h3>
</div>